html{
  font-size: 10px;
  font-family: sans-serif;
}
body {
  background-color: #6298af;
  font-size: 1.5rem;
}

header {
  background-color: #6298af;
  display: grid;
  grid-template-columns: 175px 2fr;
}

header h1 {
  font-size: 5rem;
}

header h2 {
  text-align: center;
}

nav ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #acacac;
  list-style-type: none;
  text-align: center;
  padding: 5px 20px 5px 20px;
}

nav li {
  background-color: #cacaca;
  font-size: 2.5rem;
  font-weight: bold;
  border-radius: 20px;
  padding: 10px;
  margin-right: 50px
}
section {
  background-color: #6298af;
}

h1 {
  color: gold;
  background-color: #2ba51d;
  text-shadow: 2px 2px 2px black;
  font-size: 3.0rem;
  text-align: center;
  line-height: 40px
}

h2 {
  font-size: 2.5rem;
}

h3 {
  background-color: #6298af;
}

p {
font-size:1.5rem;
margin-right: 50px;
}

footer {
  background-color: #cacaca;
  margin-top: 50px;
  font-size: 1.5rem;
  padding: 5px;
}

header img {
  border: 2px solid black;
  text-align: center;
  margin: 10px;
  border-radius: 20px
}

#modified {
  text-align: center;
}

/*Navigation Link Styling*/
nav a:link {
  color: red;
}

nav a:hover {
  color: black;
}

.main img {
  border-radius: 50px 15px 50px 15px;
}

.main {
  text-align: center;
}

/*AboutMe Specific Styling*/
.main p:first-line {
  font-weight: bold;
}

.main p::first-letter {
  font-size: 2.5em;
  border: 1px solid black;
  background: #8c8b8a;
  display: block;
  float: left;
  padding: 1px 2px;
  margin-right: 4px;
  margin-left: 50px;
}


/*MyWork Specific Styling*/

[section_header] {
  text-shadow: 2px 2px white;
}
[cert]::first-letter{
  font-weight: bold;
  font-size: 1.5rem;
}
