html{
  font-size: 10px;
  font-family: sans-serif;
  background-color: black;
}
body {
  background-color: #6298af;

}

header {
  background-color: #8c8b8a;
}

nav {
  background-color: #6298af;
}

nav ul {
  background-color: #acacac;
  list-style-type: none;
  text-align: center;
  padding: 5px 0 5px 0;
}

nav li {
  background-color: #cacaca;
  display:inline-block;
  font-size: 2.5rem;
  font-weight: bold;
  padding: 5px 25px 5px 25px;
  border-radius: 20px;
}

section {
  background-color: #6298af;
}

h1 {
  color: gold;
  background-color: #2ba51d;
  text-shadow: 2px 2px 2px black;
  font-size: 3.0rem;
  text-align: center;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  background-color: #6298af;
}

p {
font-size:1.5rem;
margin-right: 50px;
}

footer {
  background-color: #cacaca;
  margin-top: 50px;
}

.logo {
  border: 5px solid black;
  text-align: center;
  margin: 10px;
  border-radius: 20px
}

#modified {
  text-align: center;
}

/*Navigation Link Styling*/
nav a:link {
  color: red;
}

nav a:hover {
  color: black;
}

.main img {
  border-radius: 50px 15px 50px 15px;
}

.main {
  text-align: justify;
}

/*AboutMe Specific Styling*/
.main p:first {
  font-weight: bold;
}

.main p::first-letter {
  font-size: 2.5em;
  border: 1px solid black;
  background: #8c8b8a;;
  display: block;
  float: left;
  padding: 1px, 2px;
  margin-right: 4px;
  margin-left: 50px;
}


/*MyWork Specific Styling*/

[section_header] {
  text-shadow: 2px 2px white;
}
[cert]::first-letter{
  font-weight: bold;
  font-size: 1.5rem;
}
